{% extends 'custom_admin/base.html' %}

{% block title %}
Dashboard


{% endblock %}

{% block content %}

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                    
                </div>
                <div>
                    <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span></span>
                                <span class="text-sm">
                                    <p>₹ {{ total_revenue }}</p>
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span></span>
                                <span class="text-sm">
                                    <p>{{ total_orders }}</p>
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span></span>
                                <span class="text-sm">
                                    <p>{{ total_products }}</p>
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Users</h6> <span></span>
                                <span class="text-sm">
                                    <p>{{ total_users }}</p>
                                    In 4 Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="card mb-4 shadow-sm">
                                <article class="card-body">
                                    <h5 class="card-title">Best Selling Products</h5>
                                </article>
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Sl No</th>
                                            <th>Product Name</th>
                                            <!-- <th>Total Quantity Sold</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in top_products %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ product.product_name }}</td> 
                                            <td>{{ product.product.category__category_name }}</td> 
                                            <!-- <td>{{ product.total_quantity_sold }}</td> -->
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="4" class="text-center">No products found.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="card mb-4 shadow-sm">
                                <article class="card-body">
                                    <h5 class="card-title">Best Selling Categories</h5>
                                </article>
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Sl No</th>
                                            <th>Category Name</th>
                                            <!-- <th>Total Quantity Sold</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in top_categories %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ category.category_name }}</td>
                                            <!-- <td>{{ category.total_quantity }}</td> -->
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="3" class="text-center">No categories found.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <h2>Sale Statistics</h2>

            <form method="GET" id="filter-form">
                <label for="filter">Select Time Period: </label>
                <select id="filter" name="filter" onchange="fetchData()">
                    <option value="weekly" selected>Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                </select>
            </form>

    <canvas id="salesChart"  height="120px"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let salesChart = null;
    function fetchData() {
        console.log("change");
        const filter = document.getElementById("filter").value;
        fetch(`/custom-admin/sales-data/?filter=${filter}`)
            .then(response => response.json())
            .then(data => {
              
                renderChart(data.labels, data.data);
            });
    }
    function renderChart(labels, data) {
        const ctx = document.getElementById('salesChart').getContext('2d');

        if (salesChart) {
            salesChart.destroy();
        }

        
        salesChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Total Sales in Rs',
                    data: data,
                    backgroundColor: 'rgba(53, 162, 235, 0.5)',
                    borderColor: 'rgba(53, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
    fetchData();
</script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Function to fetch data based on selected filter
        function fetchData() {
            console.log("change")
            const filter = document.getElementById("filter").value;

            // Make a GET request to the view
            fetch(`/custom-admin/sales-data/?filter=${filter}`)
                .then(response => response.json())
                .then(data => {
                    // Render the chart with the fetched data
                    renderChart(data.labels, data.data);
                    
                });
        }

        // Function to render the Chart.js chart
        function renderChart(labels, data) {
            const ctx = document.getElementById('salesChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Total Sales in Rs',
                        data: data,
                        backgroundColor: 'rgba(53, 162, 235, 0.5)',
                        borderColor: 'rgba(53, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        // Initial fetch for the default filter (Weekly)
        fetchData(); -->
    <!-- </script> -->
            
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Lustrelux - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
    <script src="assets/js/custom-chart.js" type="text/javascript"></script>
</body>

</html>

{% endblock %}